*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordian-container{
    text-align: center;
}

.accordian-tab{
    color: aliceblue;
    background-color: black;
    cursor: pointer;
    margin: 3px;
}

.content{
    height: 100px;
    background-color: rgb(186, 127, 241);
    display: none;
}

.active{
    display: block;
}